.button {
  background-color: $orange;
  color: $white;

  display: flex;
  border: none;
  min-width: 90px;
  border-radius: 20px;
  height: 40px;
  padding: 8px 20px;
  font-size: $body-large;
  line-height: 24px;
  transition-property: background-color, color;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}
