.citySelector {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  inset: 0;
  z-index: 1000;
  overflow: auto;
  padding: 70px;
}

.citySelector__shadow {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  opacity: 0.7;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $black;
  z-index: 2;
}

.citySelector__popup {
  background: $white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 30px 60px;
  border-radius: 20px;
  width: 1020px;
  z-index: 3;
}

.citySelector__popup__header {
  display: flex;
  gap: 10px;
  padding: 30px 46px 15px;
}

.citySelector__popup__header__logo {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
}

.citySelector__popup__header__title {
  display: flex;
  align-items: center;
  font-size: $heading-extra-large;
  font-weight: $weight-medium;
}

.citySelector__popup__actions {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px 46px 30px;
}

.citySelector__popup__actions__search {
  display: flex;
  position: relative;
}

.citySelector__popup__actions__search input {
  position: relative;
  width: 350px;
  display: inline-block;
  height: 40px;
  border-radius: 8px;
  border: 1px solid rgba(92, 99, 112, 0.32);
  padding: 0 15px 0 40px;
  color: $black;
  font-size: $body-large;
  line-height: 40px;
}

.citySelector__popup__actions__search img {
  position: absolute;
  left: 8px;
  top: 8px;
  z-index: 1;
}

.citySelector__popup__actions__bigCities {
  display: flex;
  gap: 15px;
  font-size: $heading-semi-large;
}

.citySelector__popup__content {
  height: 370px;
  overflow: hidden;
  margin-top: 5px;
  padding-left: 46px;
}

.citySelector__popup__content__cities {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.citySelector__popup__content__cities__gradientTop {
  opacity: 1;
  transform: translateY(0px) translateZ(0px);
  top: -1px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgb(255, 255, 255) 100%
  );
}

.citySelector__popup__content__cities__gradientBottom {
  opacity: 1;
  transform: translateY(0px) translateZ(0px);
  position: absolute;
  bottom: -1px;
  left: 0px;
  width: calc(100% - 10px);
  height: 60px;
  transition: opacity 0.25s ease-in-out 0s, transform 0.25s ease-in-out 0s;
  background: linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgb(255, 255, 255) 100%
  );
  pointer-events: none;
  z-index: 1000;
}

.citySelector__popup__content__cities__list {
  position: relative;
  overflow: scroll;
  width: 100%;
  height: auto;
  min-height: 0;
  max-height: 370px;
}

.citySelector__popup__content__cities__list__item {
  position: relative;
  display: block;
  padding: 6px 30px;
  font-size: $body-large;
  line-height: 1;
  border-bottom: none;
  color: $black;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
